<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- Basic Servlet Displaying a Message -->
    <servlet>
        <servlet-name>helloWorldServlet</servlet-name>
        <servlet-class>com.snowyCoderGirl.servlet.HelloWorldServlet</servlet-class>
    </servlet>


    <!-- Mapping Servlet to Base URL -->
    <servlet-mapping>
        <servlet-name>helloWorldServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>


</web-app>